<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="WCFServices.AccountService">
				<endpoint address="AccountService" binding="basicHttpBinding"
						  contract="WCFServices.IAccountService"/>
			</service>
			<service name="WCFServices.CommentService">
				<endpoint address="CommentService" binding="basicHttpBinding"
						  contract="WCFServices.ICommentService"/>
			</service>
			<service name="WCFServices.RecipeService">
				<endpoint address="RecipeService" binding="basicHttpBinding"
						  contract="WCFServices.IRecipeService"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="AccountServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
				</behavior>
				<behavior name="CommentServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
				</behavior>
				<behavior name="RecipeServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>