<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="WCFServices.AccountService">
				<endpoint address="AccountService" binding="basicHttpBinding"
						  contract="WCFServices.IAccountService"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="AccountServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>