<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="con1" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RecipeDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    </connectionStrings>
    
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior" name="WCFServices.RecipeService">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
                    contract="WCFServices.IRecipeService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="WCFServices.IRecipeService"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/RecipeService" />
                    </baseAddresses>
                </host>
            </service>
          <service behaviorConfiguration="mexBehavior" name="WCFServices.AccountService">
              <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
                contract="WCFServices.IAccountService" />
              <!--<endpoint address="mex" binding="mexHttpBinding" contract="WCFServices.IAccountService"/>-->
              <host>
                  <baseAddresses>
                    <add baseAddress="http://localhost:8000/AccountService" />
                  </baseAddresses>
              </host>
          </service>
          <service behaviorConfiguration="mexBehavior" name="WCFServices.CommentService">
              <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
                contract="WCFServices.ICommentService" />
              <!--<endpoint address="mex" binding="mexHttpBinding" contract="WCFServices.IAccountService"/>-->
              <host>
                 <baseAddresses>
                    <add baseAddress="http://localhost:8090/CommentService" />
                  </baseAddresses>
              </host>
          </service>
        </services>
    </system.serviceModel>
</configuration>